body {
  font-family: Arial, sans-serif;
  background-color: #f0f7ff;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

h1 {
  background-color: #4285f4;
  color: #fff;
  padding: 15px 70px;
  margin: 0;
}

.add-task {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  display: inline-block;
  margin: 50px 50px 20px 70px;
}

.add-task h2 {
  padding: 10px 0px 15px;
  margin: 0;
}

.add-task input {
  padding: 10px 30px 10px 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  width: 180px;
  margin-right: 5px;
}

.add-task button {
  background-color: #3b82f6;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 50px 10px 10px;
  cursor: pointer;
}

.task-list {
  display: flex;
  flex: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
}

.task-list li.task-column {
  flex: 0 0 25%;
  max-width: 25%;
  box-sizing: border-box;
  margin: 0px 0px 70px 0px;
}

ul {
  list-style-type: none;
  padding: 10px 15px;
}

.task-item {
  background-color: #fff;
  border-radius: 8px;
  margin: 10px 10px 10px 5px;
  padding: 20px 100px 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.task-title {
  padding: 10px 15px;
  border-radius: 10px;
  margin: 10px 20px 10px;
}

.backlog .task-title {
  background-color: #e0e0e0;
  color: #404040;
}

.backlog .task-item {
  border-left: 5px solid #e0e0e0;
}

.in-progress .task-title {
  background-color: #c4e5ff;
  color: #3870ff;
}

.in-progress .task-item {
  border-left: 5px solid #c4e5ff;
}

.completed .task-title {
  background-color: #b1fcb7;
  color: #00b533;
}

.completed .task-item {
  border-left: 5px solid #b1fcb7;
}

.trash .task-title {
  background-color: #fcdcdc;
  color: #ff2929;
}

.trash .task-item {
  border-left: 5px solid #fcdcdc;
}

.clear-trash-button {
  background-color: #d66d6d;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 15px 100px;
  margin: 0px 0px 0px 20px;
  cursor: pointer;
}

.task__edit {
  background-color: transparent;
  border: none;
  color: #333;
  cursor: pointer;
  font-size: 16px;
  margin-left: 20px;
}

.task__edit::before {
  content: "/";
  display: inline-block;
  transform: rotate(45deg);
}
